// Include pug components and partials

doctype html
html(lang="cs")
  head
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      title

    block favicon
      link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
      link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
      link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
      link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
      link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
      link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
      link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
      link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
      link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/manifest.json')
      meta(name='msapplication-TileColor' content='#ffffff')
      meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
      meta(name='theme-color' content='#ffffff')


      meta(name='google-site-verification' content=`${meta.googleSiteVerification}`)
      meta(name='msvalidate.01' content=`${meta.msvalidate}`)


      // SEO
      meta(name="keywords" content=`${meta.keywords}`)
      meta(name="description" content=`${meta.description}`)
      meta(name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1")
      link(rel="canonical" href="#{meta.title}")
      meta(property="og:locale" content="cs_CZ")
      meta(property="og:type" content="website")
      meta(property="og:title" content=`${meta.title} | ${meta.tagline}`)
      meta(property="og:description" content=`${meta.description}`)
      meta(property="og:url" content=`${meta.url}`)
      meta(property="og:site_name" content=`${meta.title} | ${meta.tagline}`)
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:description" content=`${meta.tagline}`)
      meta(name="twitter:title" content=`${meta.title} | ${meta.tagline}`)
      meta(name="twitter:site" content=`${social.twitter.username}`)
      script.schema-graph(type="application/ld+json").
        {"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"#{meta.tagline}#website","url":"#{meta.tagline}","name":"#{meta.title} | #{meta.tagline}","publisher":{"@id":"#{meta.tagline}#/schema/person/"},"potentialAction":{"@type":"SearchAction","target":"#{meta.tagline}?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"CollectionPage","@id":"#{meta.tagline}#webpage","url":"#{meta.tagline}","inLanguage":"cs-CZ","name":"#{meta.title} | #{meta.tagline}","isPartOf":{"@id":"#{meta.tagline}#website"},"about":{"@id":"#{meta.tagline}#/schema/person/"},"description":"#{meta.tagline}"}]}
      // / SEO


    - let bodyClass = 'index';

    block vars


    block css
      <!-- inject:css -->
      link(rel="stylesheet" href="/assets/css/main.css?" + Math.floor(Date.now() / 1000))
      <!-- endinject -->

    block js

      - const googleTagManagerID = marketing.googleTagManager.id
      <!-- Global site tag (gtag.js) - Google Analytics -->
      script(async src=`https://www.googletagmanager.com/gtag/js?id=${marketing.googleTagManager.id}`)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        - const googleTagId = '#{marketing.googleTagManager.id}';
        gtag('config', googleTagId);


    block header

    body(class=bodyClass)

      block head
        include ./header.pug

      main
        block main

      block foot
        include ./footer.pug


      block javascript

        script(src="/assets/js/app.build.js?" + Math.floor(Date.now() / 1000))


